/* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
} */

.main-cont {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(137, 43, 226, 0.356);
}

.card {
    width: 250px;
    /* border: 1px solid grey; */
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
}


header {
    background-color: blueviolet;
    width: 100%;
    min-height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
}

header button {
    background-color: white;
    color: blueviolet;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

header button:hover {
    background-color: #eee;
}

footer {
    background-color: blueviolet;
    width: 100%;
    min-height: 60px;
    color: white;
}
