*{
    margin: 0;
    padding: 0;
}

.main_cont{
    width: 100%;
    height: 100vh;
}

header {
    background-color: rgb(245, 45, 45);
    color: white;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 15%;
    text-align: center;
}

.link {
    width: 100%;
    height: 70%;
    text-align:center;
    text-decoration: none;
}

footer {
    background-color: rgb(245, 45, 45);
    color: white;
    width: 100%;
    height: 15%;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 69, 69);
    color: white;
    width: 70%;
    margin: auto;
    border-radius: 5px;
}

.header_row {
    width: 100%;
    height: 5%;
    display: flex;
}

.row {
    width: 100%;
    height: 5%;
    display: flex;
}

.cell{
    width: 100%;
    height: 100%;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

